/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/vars';
@import './utils/mixins';
@import './base/common';
@import './partials/button';
@import './example';
@import './partials/about';
