@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import './modern-normalize.css';
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.btn {
  font-family: 'Montserrat', sans-serif;
  display: block;
  cursor: pointer;
  color: #fff;
  border-radius: 38px;
  transition: background-color 0.3s ease;
  background-color: #e86f54;
  border: none;
  margin: 0 auto;
  padding: 10px 41px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.btn:is(:hover, :focus) {
  background-color: #e25b41;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    padding: 20px 69.5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 0.86;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    padding: 20px 69.5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 0.86;
    letter-spacing: 0.03em;
  }
}

.about__title-box {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__title-box {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title-box {
    margin-bottom: 26px;
  }
}
.about__title-box::after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
}
.about__title {
  font-family: 'Montserrat', sans-serif;
  font-color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.73;
  letter-spacing: 0.03em;
}
.about__wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    display: flex;
    gap: 54px;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper {
    display: flex;
    gap: 90px;
  }
}
.about__text {
  max-width: 288px;
  margin-bottom: 16px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin: 0;
    max-width: 322px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    max-width: 510px;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
.about__img {
  max-width: 288px;
  display: flex;
  justify-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    max-width: 344px;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    max-width: 632px;
  }
}

.header-menu {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-menu__list {
  display: flex;
}
.header-menu__link {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
@media screen and (max-width: 767px) {
  .header-menu__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-menu__btn {
    display: none;
  }
  .header-menu__list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu__btn {
    display: none;
  }
  .header-menu__list {
    display: none;
  }
}

.delivery {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: normal;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1280px) {
  .delivery {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: normal;
  }
}
.delivery__header {
  gap: 14px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery__header {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: normal;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__header {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: normal;
    margin-bottom: 80px;
  }
}
.delivery__header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
.delivery__list {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 48px;
  padding-bottom: 26px;
  gap: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery__list {
    padding-left: 84px;
    padding-bottom: 40px;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__list {
    padding-left: 200px;
    padding-bottom: 60px;
    gap: 32px;
  }
}
.delivery__list-item {
  counter-increment: item;
  width: 100%;
  display: flex;
  align-items: center;
  height: 51px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery__list-item {
    height: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__list-item {
    height: 84px;
  }
}
.delivery__list-item::before {
  content: counter(item) "";
  position: absolute;
  left: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-left: 14px;
  padding-top: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery__list-item::before {
    width: 64px;
    height: 64px;
    padding-left: 25px;
    padding-top: 16px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__list-item::before {
    width: 64px;
    height: 64px;
    padding-left: 25px;
    padding-top: 16px;
    left: 80px;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: normal;
  }
}
.delivery__image {
  max-width: 100%;
  min-height: 135px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 60px;
  -o-object-position: left;
     object-position: left;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .delivery__image {
    margin-bottom: 100px;
    min-height: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery__image {
    margin-bottom: 84px;
    min-height: 391px;
    margin-left: auto;
    margin-right: auto;
  }
}

.blog__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog__subtitle {
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    gap: 16px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__subtitle {
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin-bottom: 122px;
    gap: 16px;
  }
}
.blog__subtitle::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
.blog__flowers {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  justify-content: center;
}
.blog__flowers :nth-child(3) {
  display: none;
}
@media screen and (min-width: 1280px) {
  .blog__flowers :nth-child(3) {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog__flowers {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__flowers {
    gap: 31px;
    margin-bottom: 18px;
  }
}
.blog__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog__text {
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__text {
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
  }
}
.blog__arrow {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .blog__arrow {
    gap: 30px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .blog__arrow {
    gap: 30px;
    margin-bottom: 24px;
  }
}

.btn {
  margin-bottom: 58px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    margin-bottom: 100px;
  }
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  margin: 0 auto;
  z-index: 999;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: none;
  }
}
.header__position {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__position {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    padding-top: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .header__position {
    max-width: 1232px;
    width: 100%;
    padding-top: 28px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: flex;
  }
}
.header__logo {
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    width: 86px;
    height: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 86px;
    height: 68px;
  }
}
.header__nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 48px;
}
.header__nav-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 1, 2;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.header__nav-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #000;
}
.header__icon {
  margin-right: 14px;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__icon {
    margin-right: 0;
  }
}
.header__menu {
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: none;
  }
}

.store {
  max-width: 320px;
  padding: 60px 0;
  font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .store {
    max-width: 768px;
    padding: 100px 24px 60px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .store {
    max-width: 1280px;
    padding: 100px 24px;
  }
}
.store__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .store__list {
    gap: 32px;
    margin-top: 60px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .store__list {
    margin-top: 80px;
    margin-bottom: 28px;
  }
}
.store__card {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .store__card {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-width: 1280px) {
  .store__card {
    margin-bottom: 32px;
  }
}
.store__type {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-top: 12px;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .store__type {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .store__type {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
  }
}
.store__price {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #000;
  opacity: 0.6;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .store__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .store__price {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.03em;
  }
}

.section-header {
  text-transform: uppercase;
  gap: 14px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.section-header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-header {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: 0.03em;
  }
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu .link:hover, .menu .link:focus {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: #fff;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-toggle:hover, .menu-toggle:focus {
    fill: #000;
  }
}
.menu-container {
  min-width: 320px;
  height: 100vh;
  position: fixed;
  inset: 0;
  padding: 32px;
  background-color: #e86f54;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.mobile-menu__list-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.mobile-menu__link {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}/*# sourceMappingURL=main.css.map */