@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.btn {
  font-family: 'Montserrat', sans-serif;
  display: block;
  cursor: pointer;
  color: #fff;
  border-radius: 38px;
  transition: background-color 0.3s ease;
  background-color: #E86F54;
  border: none;
  margin: 0 auto;
  padding: 10px 41px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.btn:is(:hover, :focus) {
  background-color: #E25B41;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    padding: 20px 69.5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 0.86;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    padding: 20px 69.5px;
    font-weight: 500;
    font-size: 28px;
    line-height: 0.86;
    letter-spacing: 0.03em;
  }
}
.header-menu {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-menu__list {
  display: flex;
  gap: 26px;
  flex-direction: column;
}
.header-menu__list-item {
  display: flex;
}
.header-menu__link {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-menu__list {
    flex-direction: row;
    gap: 24px;
  }
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.about__title-box {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__title-box {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title-box {
    margin-bottom: 26px;
  }
}
.about__title-box::after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
}
.about__title {
  font-family: 'Montserrat', sans-serif;
  font-color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.73;
  letter-spacing: 0.03em;
}
.about__wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    display: flex;
    gap: 54px;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper {
    display: flex;
    gap: 90px;
  }
}
.about__text {
  max-width: 288px;
  margin-bottom: 16px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.22;
    letter-spacing: 0.03em;
    margin: 0;
    max-width: 322px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    max-width: 510px;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
.about__img {
  max-width: 288px;
  display: flex;
  justify-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    max-width: 344px;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    max-width: 632px;
  }
}/*# sourceMappingURL=main.css.map */