    //colors font / background
    $primary: #000;
    $secondary: #fff;
    $tertiary : #E86F54;
    $tertiary-hover : #E25B41;
    $tertiary-focus: #FA6F54;
    $correct: #3CBC81;
    $error: #E74A3B;
    $normal: #D7D7D7;
    $text: #5C5C5C;
    $inactive-btn: rgba(232, 111, 84, 0.4);

    // border-radius
    $br4: 4px;
    $br8: 8px;
