@use 'sass:string';

//colors font / background
$primary: #000;
$secondary: #fff;
$tertiary: #e86f54;
$tertiary-hover: #e25b41;
$tertiary-focus: #fa6f54;
$correct: #3cbc81;
$error: #e74a3b;
$normal: #d7d7d7;
$text: #5c5c5c;
$inactive-btn: rgba(232, 111, 84, 0.4);

// border-radius
$br4: 4px;
$br8: 8px;
$br38: 38px;

$fonts: (
  'mont': "'Montserrat', sans-serif",
  'int': "'Inter', sans-serif",
);

@function getFont($font) {
  @return string.unquote(map-get($fonts, $font));
}
