<section class="delivery" id="delivery">
  <div class="container">
    <h2 class="delivery__header">Delivery</h2>
    <ul class="delivery__list">
      <li class="delivery__list-item" data-aos="zoom-out-left">
        <div class="delivery__number">1</div>
        <p class="delivery__text">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__list-item" data-aos="zoom-out-left">
        <div class="delivery__number">2</div>
        <p class="delivery__text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery__list-item" data-aos="zoom-out-left">
        <div class="delivery__number">3</div>
        <p class="delivery__text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery__list-item" data-aos="zoom-out-left">
        <div class="delivery__number">4</div>
        <p class="delivery__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
  <img
    src="./images/image_delivery--mob@1x.jpg"
    alt="Kwiatki w doniczce"
    class="delivery__image"
    srcset="
      ./images/image_delivery--mob@2x.jpg   640w,
      ./images/image_delivery--tab@1x.jpg   768w,
      ./images/image_delivery--tab@2x.jpg  1536w,
      ./images/image_delivery--desk@1x.jpg 1280w,
      ./images/image_delivery--desk@2x.jpg 2560w
    "
    sizes="(min-width: 1280px) 1280px, (min-width: 768px) 1279px, 767px"
  />
</section>
