<footer class="footer">
  <div class="container">
    <div class="footer__navigation wth">
      <h3 class="footer__title">Navigation</h3>
      <ul>
        <li><a class="footer__link" href="#top">Anemone</a></li>
        <li><a class="footer__link" href="#about">About us</a></li>
        <li><a class="footer__link" href="#store">Store</a></li>
        <li><a class="footer__link" href="#delivery">Delivery</a></li>
        <li><a class="footer__link" href="#blog">Blog</a></li>
      </ul>
    </div>
    <div class="footer__opening wth">
      <h3 class="footer__title">Opening times</h3>
      <p>Every day 9:00 - 22:00</p>
    </div>
    <div class="footer__contacts wth">
      <h3 class="footer__title">Contacts</h3>
      <ul>
        <li>
          <a class="footer__link" href="tel:+38 063 123 45 67">+38 063 123 45 67</a>
        </li>
        <li>
          <a class="footer__link" href="mail:anemonestudio@example.com"
            >anemonestudio@example.com</a
          >
        </li>

        <li>
          <adress>Reitarska Street, 11 Kyiv, Ukraine</adress>
        </li>
      </ul>
    </div>
    <div class="footer__socials wth">
      <svg width="24" height="24" class="icon">
        <use href="./images/icons.svg#icon-facebook"></use>
      </svg>
      <svg width="24" height="24" class="icon">
        <use href="./images/icons.svg#icon-instagram"></use>
      </svg>
    </div>
  </div>
</footer>
