<footer class="footer">
  <div class="container">
    <div class="footer__navigation">
      <h3>Navigation</h3>
      <ul>
        <li><a href="#top">Anemone</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#store">Store</a></li>
        <li><a href="#delivery">Delivery</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
    </div>
    <div class="footer__opening">
      <h3>Opening times</h3>
      <p>Every day 9:00 - 22:00</p>
    </div>
    <div class="footer__contacts">
      <h3>Contacts</h3>
      <ul>
        <li>
          <a href="tel:+38 063 123 45 67">+38 063 123 45 67</a>
        </li>
        <li>
          <a href="mail:anemonestudio@example.com">anemonestudio@example.com</a>
        </li>
        <li>
          <adress>Reitarska Street, 11 Kyiv, Ukraine</adress>
        </li>
      </ul>
    </div>
    <div class="footer__socials">
      <svg width="24" height="24" class="icon">
        <!-- <use href="./images/icons.svg#icon-facebook"></use> -->
      </svg>
      <svg width="24" height="24" class="icon">
        <!-- <use href="./images/icons.svg#icon-instagram"></use> -->
      </svg>
    </div>
  </div>
</footer>
