<div class="container header-menu">
  <button type="button" class="btn header-menu__btn"></button>
  <div class="header-menu__navigation">
    <ul class="header-menu__list">
      <li class="header-menu__list-item">
        <a href="#top">Anemone</a>
      </li>
      <li class="header-menu__list-item">
        <a href="#about">About us</a>
      </li>
      <li class="header-menu__list-item">
        <a href="#store">Store</a>
      </li>
      <li class="header-menu__list-item">
        <a href="#delivery">Delivery</a>
      </li>
      <li class="header-menu__list-item">
        <a href="#blog">Blog</a>
      </li>
    </ul>
  </div>
</div>
