<section class="container store" id="store">
  <h2 class="subtitle">Store</h2>
  <ul class="store__list">
    <li class="store__item">
      <figure
        class="store__card"
        data-aos="fade-right"
        data-aos-duration="3000"
        data-aos-delay="120"
      >
        <img
          src="./images/bouquet3--mob@1x.jpg"
          srcset="
            ./images/bouquet3--mob@1x.jpg   136w,
            ./images/bouquet3--mob@2x.jpg   272w,
            ./images/bouquet3--tab@1x.jpg   344w,
            ./images/bouquet3--tab@2x.jpg   688w,
            ./images/bouquet3--desk@1x.jpg  600w,
            ./images/bouquet3--desk@2x.jpg 1200w
          "
          sizes="(max-width: 479px) calc(50vw - 16px), (min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 216px "
          alt="flowers compliments"
        />
        <figcaption>
          <h3 class="store__type">compliments</h3>
          <p class="store__price">from $15</p>
        </figcaption>
      </figure>
    </li>

    <li class="store__item">
      <figure
        class="store__card"
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="120"
      >
        <img
          src="./images/bouquet1--mob@1x.jpg"
          srcset="
            ./images/bouquet1--mob@1x.jpg   136w,
            ./images/bouquet1--mob@2x.jpg   272w,
            ./images/bouquet1--tab@1x.jpg   344w,
            ./images/bouquet1--tab@2x.jpg   688w,
            ./images/bouquet1--desk@1x.jpg  600w,
            ./images/bouquet1--desk@2x.jpg 1200w
          "
          sizes="(max-width: 479px) calc(50vw - 16px), (min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 216px "
          alt="small bouquet"
        />
        <figcaption>
          <h3 class="store__type">bouquets size S</h3>
          <p class="store__price">from $25</p>
        </figcaption>
      </figure>
    </li>
    <li class="store__item">
      <figure
        class="store__card"
        data-aos="fade-right"
        data-aos-duration="3000"
        data-aos-delay="120"
      >
        <img
          src="./images/bouquet2--mob@1x.jpg"
          srcset="
            ./images/bouquet2--mob@1x.jpg   136w,
            ./images/bouquet2--mob@2x.jpg   272w,
            ./images/bouquet2--tab@1x.jpg   344w,
            ./images/bouquet2--tab@2x.jpg   688w,
            ./images/bouquet2--desk@1x.jpg  600w,
            ./images/bouquet2--desk@2x.jpg 1200w
          "
          sizes="(max-width: 479px) calc(50vw - 16px), (min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 216px "
          alt="medium bouquet"
        />
        <figcaption>
          <h3 class="store__type">bouquets size M</h3>
          <p class="store__price">from $45</p>
        </figcaption>
      </figure>
    </li>
    <li class="store__item">
      <figure
        class="store__card"
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="120"
      >
        <img
          src="./images/bouquet4--mob@1x.jpg"
          srcset="
            ./images/bouquet4--mob@1x.jpg   136w,
            ./images/bouquet4--mob@2x.jpg   272w,
            ./images/bouquet4--tab@1x.jpg   344w,
            ./images/bouquet4--tab@2x.jpg   688w,
            ./images/bouquet4--desk@1x.jpg  600w,
            ./images/bouquet4--desk@2x.jpg 1200w
          "
          sizes="(max-width: 479px) calc(50vw - 16px), (min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 216px "
          alt="big bouquet"
        />
        <figcaption>
          <h3 class="store__type">bouquets size L</h3>
          <p class="store__price">from $60</p>
        </figcaption>
      </figure>
    </li>
  </ul>
  <button type="button" class="btn">Order flowers</button>
</section>
