<section class="container store" id="store">
  <h2>Store</h2>
  <ul class="store__list">
    <li class="store__list-item">
      <img src="./images/demo.jpg" />
      <span class="store__type">compliment</span>
      <span class="store__price">from $15</span>
    </li>
    <li class="store__list-item">
      <img src="./images/demo.jpg" />
      <span class="store__type">bouquets size S</span>
      <span class="store__price">from $25</span>
    </li>
    <li class="store__list-item">
      <img src="./images/demo.jpg" />
      <span class="store__type">bouquets size M</span>
      <span class="store__price">from $45</span>
    </li>
    <li class="store__list-item">
      <img src="./images/demo.jpg" />
      <span class="store__type">bouquets size L</span>
      <span class="store__price">from $60</span>
    </li>
  </ul>
  <button type="button" href="" class="btn">Order flowers</button>
</section>
