.blog {
  padding-bottom: 60px;

  @include tablet {
    max-width: 768px;
    padding: 100px 24px 0 24px;
  }
  @include desktop {
    max-width: 1280px;
    padding: 100px 24px 0 24px;
  }
  
  
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  // &__flowers {
  //   display: flex;
  //   gap: 16px;
  //   margin-bottom: 8px;
  //   justify-content: center;
  //   :nth-child(3) {
  //     display: none;
  //     @include desktop {
  //       display: flex;
  //     }
  //   }

  //   @include tablet {
  //     gap: 32px;
  //   }

  //   @include desktop {
  //     gap: 31px;
  //     margin-bottom: 18px;
  //   }
  // }

  &__text {
    @include font($fw: 500, $fs: 18px, $lh: 22px, $ls: normal);
    text-align: center;
    margin-bottom: 24px;
    margin-top: 28px;
    @include tablet {
      @include font($fs: 32px, $lh: 39px);
      margin-bottom: 32px;
      margin-top: 32px;
    }
    @include desktop {
      @include font($fs: 32px, $lh: 39px);
      margin-bottom: 32px;
      margin-top: 32px;
    }
  }
  &__arrow {
    width: 67.5px;
    fill: $primary;

    @include tablet {
      width: 98px;
    }
    @include desktop {
      width: 98px;
    }
  }
}

.btn {
  // margin-bottom: 58px;
  @include tablet {
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 100px;
  }
}

 .subtitle {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 122px;
    }
 }