.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  margin: 0 auto;
  z-index: 999;
  top: 0;
  left: 0;

  @include tablet {
    max-width: 1279px;
  }

  @include desktop {
    max-width: none;
  }

  &__position {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    padding-top: 16px;

    @include tablet {
      margin: 0 auto;
      max-width: 720px;
      width: 100%;
      padding-top: 24px;
    }

    @include desktop {
      max-width: 1232px;
      width: 100%;
      padding-top: 28px;
    }
  }
  &__nav {
    display: none;

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
    }
  }
  &__logo {
    cursor: pointer;

    @include tablet {
      width: 86px;
      height: 68px;
    }
    @include desktop {
      width: 86px;
      height: 68px;
    }
  }
  &__nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 48px;
  }

  &__nav-item {
    @include font($fw: 400, $fs: 20px, $lh: 24px, $ls: 0.03em);
    cursor: pointer;
    color: $primary;
  }

  &__btn-call {
    border: none;
    background-color: transparent;
  }

  &__icon {
    margin-right: 14px;
    cursor: pointer;

    @include tablet {
      margin-right: 0;
    }
  }
  &__menu {
    cursor: pointer;

    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
}
