.hero {
  padding-top: 95px;
  padding-bottom: 36px;

  @include tablet {
    padding-top: 119px;
    padding-bottom: 94px;
  }

  @include desktop {
    padding-top: 149px;
    padding-bottom: 93px;
  }

  &__container {
    position: relative;
    @include flex-center;
  }

  &__header {
    text-transform: uppercase;
    @include font($fw: 400, $fs: 52px, $lh: 63px, $ls: normal);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    @include tablet {
      font-size: 120px;
      transform: translate(-50%, 63%);
    }

    @include desktop {
      font-size: 160px;
      transform: translate(-50%, 48%);

      &::after {
        content: '';

        position: absolute;

        top: 20px;
        right: 20px;

        display: block;
        width: 58px;
        height: 8px;
        background-color: $primary;
      }
    }
  }

  &__title {
    width: 46px;
    margin-left: 11px;
    margin-right: 14px;
    @include font($fw: 400, $fs: 14px, $lh: 17px, $ls: normal);

    @include tablet {
      width: 76px;
      margin-right: 40px;
      margin-left: 49px;
      @include font($fw: 400, $fs: 24px, $lh: 29px, $ls: normal);
    }

    @include desktop {
      width: 101px;
      margin-left: 210px;
      margin-right: 0;
      @include font($fw: 400, $fs: 32px, $lh: 39px, $ls: normal);
    }
  }

  &__image {
    width: 145px;
    height: 274px;

    object-fit: cover;
    object-position: center;

    @include tablet {
      width: 390px;
      height: 636px;
    }

    @include desktop {
      width: 390px;
      height: 636px;
    }

    & > img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__btn {
    background-color: $secondary;
    border: none;
    margin-left: 8px;
    padding: 0;

    @include tablet {
      margin-left: 20px;
    }
    @include desktop {
      margin-left: 0;
      margin-right: 145px;
    }
  }

  &__svg {
    @include tablet {
      width: 145px;
      height: 150px;
    }

    @include desktop {
      width: 166px;
      height: 166px;
    }

    &--mob {
      opacity: 0;
      @include phone {
        opacity: 1;
      }
    }

    &--tab {
      opacity: 0;

      @include tablet {
        opacity: 1;
      }
    }

    &--desk {
      opacity: 0;
      @include desktop {
        opacity: 1;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    justify-content: space-between;
  }
}
