.header-menu {
  @include font($fw: 400, $fs: 20px, $lh: 24px, $ls: 0.03em);
  &__list {
    display: flex;
  }
  &__link {
    font-family: getFont('mont');
    color: $primary;
  }

  @include phone {
    &__list {
      display: none;
    }
  }

  @include tablet {
    &__btn {
      display: none;
    }
    &__list {
      // justify-content: center;
      // align-items: center;
      // gap: 24px;

      display: none;
    }
  }

  @include desktop {
    &__btn {
      display: none;
    }
    &__list {
      // justify-content: center;
      // gap: 24px;
       display: none;
    }
  }
}
