.header-menu {
  @include font($fw: 400, $fs: 20px, $lh: 24px, $ls: 0.03em);
  &__list {
    display: flex;
  }
  &__link {
    font-family: getFont('mont');
    color: $primary;
  }

  @include phone {
    &__list {
      flex-direction: column;
      gap: 26px;
    }
  }

  @include tablet {
    &__list {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
  }

  @include desktop {
    &__list {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }
  }
}
