.store {
  padding: 60px 0;
  font: {
    family: getFont('mont');
  }

  @include tablet {
    max-width: 768px;
    padding: 100px 24px 0 24px;
  }
  @include desktop {
    max-width: 1280px;
    padding: 100px 24px 0 24px;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    @include tablet {
      gap: 32px;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @include desktop {
      gap: 32px;
      margin-top: 80px;
      margin-bottom: 60px;
    }
  }
  &_item {
    width: 100%;
  }
  &__card {
    display: block;
    width: 100%;
    @include tablet {
      margin-bottom: 8px;
      @include desktop {
        margin-bottom: 32px;
      }
    }
  }

  &__type {
    @include font($fw: 500, $fs: 16px, $lh: 20px, $ls: 0.03em);
    color: $primary;
    margin-top: 12px;
    margin-bottom: 6px;
    @include tablet {
      @include font($fw: 500, $fs: 32px, $lh: 39px, $ls: 0.03em);
      margin-bottom: 8px;
      margin-top: 16px;
      width: 100%;
      align-items: center;
      gap: 8px;
      font-size: 32px;
      display: inline-flex;
      white-space: nowrap;
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000;
        display: inline-block;
      }
    }
    @include desktop {
      width: 100%;
      @include font($fw: 500, $fs: 36px, $lh: 44px, $ls: 0.03em);
      margin-top: 16px;
      margin-bottom: 4px;
      gap: 16px;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #000;
        display: inline-block;
      }
    }
  }
  &__price {
    @include font($fw: 600, $fs: 12px, $lh: 15px, $ls: 0.03em);
    color: $primary;
    opacity: 0.6;
    @include tablet {
      @include font($fw: 600, $fs: 24px, $lh: 29px, $ls: 0.03em);
    }
    @include desktop {
      @include font($fw: 600, $fs: 28px, $lh: 34px, $ls: 0.03em);
    }
  }
}
.section-header {
  text-transform: uppercase;
  gap: 14px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font: {
    family: getFont('mont');
  }
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    display: inline-block;
  }
  @include font($fw: 700, $fs: 24px, $lh: 29px, $ls: 0.03em);
  @include tablet {
    padding: 0;
    @include font($fw: 700, $fs: 44px, $lh: 54px, $ls: 0.03em);
  }
  @include desktop {
    padding: 0;
    @include font($fw: 700, $fs: 44px, $lh: 54px, $ls: 0.03em);
  }
}
